@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-family-roboto-slab: var(--font-roboto-slab);
}

@utility drag-none {
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
